{% load static %}


<html>
<head>
<title>CRM</title>

    <link rel="stylesheet"  href="{% static '/js2/swiper-bundle.min.css'  %}">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">

<script src="{% static '/js2/global.min.js'  %}"></script>
 <script src="{% static '/js2/swiper-bundle.min.js'  %}"></script

<script src="{% static 'js2/dlabnav-init.js'  %}"></script>
 <script src="{% static 'js2/dlab.js'  %}"></script>
<script src="{% static 'js2/global.min.js'  %}"></script>
<script src="{% static 'js2/custom.min.js'  %}"></script>


	<script src="https://kit.fontawesome.com/30c18f1050.js" crossorigin="anonymous"></script>

    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>

            {% block content %}{% endblock content %}


</body>

<script src="../static/js2/global.min.js"></script>
 </html>








































































































































































































































































































































































































































































































































